<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.mapper.sys.SysEmailMapper">
  <resultMap id="BaseResultMap" type="com.ly.po.SysEmail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cc" jdbcType="VARCHAR" property="cc" />
    <result column="to" jdbcType="VARCHAR" property="to" />
    <result column="bcc" jdbcType="VARCHAR" property="bcc" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="from" jdbcType="INTEGER" property="from" />
    <result column="simple_broker_prefix" jdbcType="VARCHAR" property="simpleBrokerPrefix" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cc, to, bcc, title, content, status, create_time, from, simple_broker_prefix
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_email
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserInfoId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select e.* from sys_email e join sys_email_user eu on e.id = eu.email_id where  eu.user_id = #{id,jdbcType=INTEGER} and eu.status = 1  group by e.id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_email
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ly.po.SysEmail" useGeneratedKeys="true">
    insert into sys_email (cc, to, bcc, 
      title, content, status, 
      create_time, from, simple_broker_prefix
      )
    values (#{cc,jdbcType=VARCHAR}, #{to,jdbcType=VARCHAR}, #{bcc,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{from,jdbcType=INTEGER}, #{simpleBrokerPrefix,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ly.po.SysEmail" useGeneratedKeys="true">
    insert into sys_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cc != null">
        cc,
      </if>
      <if test="to != null">
        to,
      </if>
      <if test="bcc != null">
        bcc,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="from != null">
        from,
      </if>
      <if test="simpleBrokerPrefix != null">
        simple_broker_prefix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cc != null">
        #{cc,jdbcType=VARCHAR},
      </if>
      <if test="to != null">
        #{to,jdbcType=VARCHAR},
      </if>
      <if test="bcc != null">
        #{bcc,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="from != null">
        #{from,jdbcType=INTEGER},
      </if>
      <if test="simpleBrokerPrefix != null">
        #{simpleBrokerPrefix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.po.SysEmail">
    update sys_email
    <set>
      <if test="cc != null">
        cc = #{cc,jdbcType=VARCHAR},
      </if>
      <if test="to != null">
        to = #{to,jdbcType=VARCHAR},
      </if>
      <if test="bcc != null">
        bcc = #{bcc,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="from != null">
        from = #{from,jdbcType=INTEGER},
      </if>
      <if test="simpleBrokerPrefix != null">
        simple_broker_prefix = #{simpleBrokerPrefix,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.po.SysEmail">
    update sys_email
    set cc = #{cc,jdbcType=VARCHAR},
      to = #{to,jdbcType=VARCHAR},
      bcc = #{bcc,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      from = #{from,jdbcType=INTEGER},
      simple_broker_prefix = #{simpleBrokerPrefix,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>